.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 12px;

  &__header {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 1em;
}

.detailsField {
  &__label {
    color: grey;
    font-size: 14px;
  }
}
