.container {
  border-bottom: 1px solid #e7e8ef;
}

.searchbar {
  width: 100%;
  border: none;
  height: 4em;
  padding: 1.2em;
  border-radius: 0;
  font-family: var(--font);

  &:focus {
    outline: none;
  }
}
