.employeeForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
}

.formButtons {
  padding-left: 1em;
}

.error {
  color: red;
  text-align: center;
}
