@use "../../scss/variables/variables";
@use "../../scss/mixins/media" as q;

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 14vh;
  background-color: var(--bg-primary);
  color: var(--text-white);
  padding: 1em 2em;
  align-items: center;

  &__btn {
    grid-row: 1;
    align-self: center;
  }
  &__title {
    grid-row: 2;
    align-self: center;
  }
}

.headerContent {
  width: 100%;
  max-width: 600px;
  display: flex;
  gap: 1em;
}

@include q.lg {
  .headerContent {
    max-width: 800px;
  }
}

@include q.xl {
  .headerContent {
    max-width: 1050px;
  }
}
