@use "../../scss/variables/variables";

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
  height: 18vh;
  background-color: var(--bg-primary);
  color: var(--text-white);
  padding: 1em 2em;

  &__btn {
    grid-row: 1;
    align-self: start;
  }
  &__title {
    grid-row: 2;
    align-self: center;
  }
}
