.pageContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
}

.errorMessage {
  text-align: center;
  color: #d33636;
}
