.employeeAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    display: flex;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  &__initials {
    color: var(--text-white);
    font-size: 14px;
    font-weight: 700;
  }
}
