.employeeAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    display: flex;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  &__initials {
    color: var(--text-white);
    font-size: 1.2em;
    font-weight: 700;
  }
}

.sm {
  .employeeAvatar__avatar {
    height: 2.5em;
    width: 2.5em;
  }

  .employeeAvatar__initials {
    font-size: 0.8em;
    font-weight: 400;
  }
}

.xsm {
  .employeeAvatar__avatar {
    height: 2em;
    width: 2em;
  }

  .employeeAvatar__initials {
    font-size: 0.7em;
    font-weight: 400;
  }
}
