@use "../../scss/mixins/media" as q;

p {
  margin: 0;
}
.employeeCard {
  display: grid;
  grid-template-columns: 6fr 4fr 1fr;
  width: 100%;
  align-items: center;
  padding: 1em 1.5em;
  border-bottom: 1px solid #e7e8ef;
  &:hover {
    background-color: rgb(239, 238, 238);
    cursor: pointer;
  }
}

.employeeIdentity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
}
